* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 18px;
  align-items: center;
}

.logo {
  color: red;
  font-size: 24px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: centers;
}

.navbar ul li {
  list-style: none;
  margin: 0 40px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: red;
}

.links {
  text-decoration: none;
  color: white;
}

.icons {
  display: none;
}

.Form-container {
  height: 70%;
  width: 25%;
  position: absolute;
  top: 61px;
  right: 6%;
  z-index: 1;
}

.form {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  height: 100%;
  border: 2px solid black;
  text-align: left;
  padding: 30px;
}
.Form-title {
  text-align: center;
}

.form input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 10px;
}

.form textarea {
  margin: 5px 0px;
  resize: none;
  width: 100%;
  padding: 10px;
}

.form button {
  margin-top: 10px;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

/* home section */
.main-container {
  background-image: url("https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

/* sections  */
.home-section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.article {
  max-width: 100%;
  color: white;
  font-size: 2rem;
  padding-top: 200px;
}

.home-form {
  padding-top: 1rem;
}

.home-form input {
  max-width: 100%;
  width: 300px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.home-form button {
  padding: 8px 10px;
  margin-left: 5px;
  background-color: rgb(218, 12, 12);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  color: white;
  padding-top: 150px;
  margin: auto;
}

.article-two {
  width: 37vw;
}

.article-two h2 {
  font-size: 2rem;
  color: red;
  padding-top: 40px;
}

.img-2 {
  margin-top: 15px;
  width: auto;
  height: 260px;
}

.article-title {
  font-size: 2rem;
  color: red;
}

.article-two p {
  padding-top: 30px;
  font-size: 1.5rem;
  line-height: 35px;
  word-spacing: 0px;
  text-align: left;
}

.footer {
  width: 100vw;
  height: 40vh;
  background-color: white;
  margin: 100px 0px;
  padding: 60px 0px;
  color: black;
  text-align: center;
}

footer a {
  position: relative;
  top: 30px;
  color: black;
  font-size: 30px;
  margin: 0px 20px;
}

/* movies section */

.movies-container {
  width: 100%;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.avaliable-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  width: 80%;
  margin: auto;
}

.avaliable-movies div {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 25px;
}

/* end of movie section */

@media screen and (max-width: 1120px) {
  .section-two {
    display: flex;
    flex-direction: column;
  }

  .article-two {
    width: 100%;
  }
  .article-two h2 {
    font-size: 2rem;
  }

  .article-two p {
    padding-bottom: 30px;
  }
}

@media (max-width: 631px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .icons {
    display: block;
    color: red;
  }
  .navbar {
    display: none;
  }

  .open {
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%;
    height: 60%;
    color: white;
    z-index: 1;
  }

  .open-menu {
    margin-top: 30px;
    font-size: 20px;
    list-style: none;
    border-top: 2px solid white;
  }

  .open-menu li {
    border-bottom: 1px solid white;
    padding: 10px 0px;
  }
}
