* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 18px;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: centers;
}

.navbar ul li {
  list-style: none;
  margin: 0 40px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: red;
}

.links {
  text-decoration: none;
  color: white;
}

.icons {
  display: none;
}

.Form-container {
  height: 70%;
  width: 25%;
  position: absolute;
  top: 61px;
  right: 6%;
}

.form {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  height: 100%;
  border: 2px solid black;
  text-align: left;
  padding: 30px;
}
.Form-title {
  text-align: center;
}

.form input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 10px;
}

.form textarea {
  margin: 5px 0px;
  resize: none;
  width: 100%;
  padding: 10px;
}

.form button {
  margin-top: 10px;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

.main-container {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/955e84a0-6be6-482c-8d45-126279f53895/US-en-20230814-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-color: darkgray;
  background-blend-mode: darken;
}

/* section one  */
.home-section {
  position: relative;
  width: 100vw;
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.article {
  max-width: 100%;
  color: white;
  font-size: 2rem;
  padding-top: 200px;
}

.home-form {
  padding-top: 1rem;
}

.home-form input {
  max-width: 100%;
  width: 300px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.home-form button {
  padding: 8px 10px;
  margin-left: 5px;
  background-color: rgb(218, 12, 12);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

@media (max-width: 631px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
  }
  .icons {
    display: block;
  }
  .navbar {
    display: none;
  }

  .open {
    background-color: black;
    position: fixed;
    top: 60px;
    right: 0;
    width: 60%;
    height: 80%;
    color: white;
  }

  .open-menu {
    margin-top: 30px;
    font-size: 20px;
    list-style: none;
    border-top: 2px solid white;
  }

  .open-menu li {
    border-bottom: 1px solid white;
    padding: 10px 0px;
  }
}

@media (min-width: 631px) {
  .open {
    display: none;
  }
}
